<div class="category-page-filters">
    <div class="summary">
        <span class="results-label">Results</span>
    </div>

    <div class="sort-and-toggle">
        <form method="get" class="sort-form">
            <div class="sort">
                <div>
                    <span class="drop-label">
                        Sort:
                        <span class="sort-container">
                            <span class="drop-arrow"></span>
                        </span>
                    </span>
                    <select name="sort">
                        <option value="8">Relevance</option>
                        <option value="1" selected="">
                            Popularity
                        </option>
                        <option value="2">Title</option>
                        <option value="4">Lowest price</option>
                        <option value="5">Highest price</option>
                        <option value="6">Newest first</option>
                        <option value="7">Oldest first</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>