<!-- START HEADER -->
<header>
    <ul class="nav-list">
        <li class="header-left">
            <a class="header-btn header-logo" href="/">{{ site.title }}</a>
        </li>
        <li class="header-right">
            <a id="header-btn-user" class="header-btn" href="/login"><i class="fas fa-user-alt" style="font-size: 24px;"></i></a>
        </li>
        <li class="header-right">
            <a class="header-btn" href="/cart/"><i class="fas fa-shopping-cart" style="font-size: 24px;"></i></a>
        </li>
    </ul>
</header>
