---
layout: page
title: Home
---

<!-- START HOME -->
<link rel="stylesheet" href="/assets/slides.css" />
<script src="/js/carousel.js" async defer></script>

<div class="slider">
    {% for slider in site.data.sliders %}
    <div class="mySlides" style="background-color: {{ slider.bg }};">
        <div class="slideContent">
            <h3>{{ slider.header }}</h3>
            <p>{{ slider.p }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="content">
    <!-- <ul>
        {% for page in site.pages %} {% if page.url contains ".xml" or page.url
        contains "404" or page.title contains "Home" %} {% else %}
        <li>
            <a class="crumb" href="{{ page.url }}">{{ page.title }}</a>
        </li>
        {% endif %} {% endfor %}
    </ul> -->
    <div>
        <button><a href="/category/">Start browsing</a></button>
        <button><a href="/login">Login</a></button>
    </div>
</div>
